**/*.lo
**/.deps
**/.cproject
**/.libs
**/.project
**/.dirstamp
**/.settings
**/.externalToolBuilders
**/*.o
**/Makefile.in
**/*.pyc
**/*.vtu
**/*.peano-patch-file
src/stamp-h1

/ar-lib
/autom4te.cache/
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
/aclocal.m4

